@import "ng-datepicker-colors";

.theme-green ng-daterangepicker::ng-deep {
  &.is-active {
    border-color: $cyan;
  }

  .input-section {
    .label-txt {
      color: $cyan;
    }

    .cal-icon {
      svg {
        path {
          fill: $cyan;
        }
      }
    }
  }

  .calendar {
    border-color: $cyan;

    &:after {
      border-top-color: $cyan;
      border-left-color: $cyan;
    }

    .calendar-container {
      .days {
        .day {
          &.is-within-range {
            background: lighten($cyan, 20);
          }

          .day-num {
            &:hover, &.is-active {
              background: $cyan;
            }
          }
        }
      }
    }

    .side-container {
      .side-container-buttons {
        .side-button {
          border-color: $cyan;

          &:hover, &.is-active {
            background: $cyan;
          }
        }
      }
    }
  }
}

.theme-teal ng-daterangepicker::ng-deep {
  &.is-active {
    border-color: $teal;
  }

  .input-section {
    .label-txt {
      color: $teal;
    }

    .cal-icon {
      svg {
        path {
          fill: $teal;
        }
      }
    }
  }

  .calendar {
    border-color: $teal;

    &:after {
      border-top-color: $teal;
      border-left-color: $teal;
    }

    .calendar-container {
      .days {
        .day {
          &.is-within-range {
            background: lighten($teal, 20);
          }

          .day-num {
            &:hover, &.is-active {
              background: $teal;
            }
          }
        }
      }
    }

    .side-container {
      .side-container-buttons {
        .side-button {
          border-color: $teal;

          &:hover, &.is-active {
            background: $teal;
          }
        }
      }
    }
  }
}

.theme-cyan ng-daterangepicker::ng-deep {
  &.is-active {
    border-color: $cyan;
  }

  .input-section {
    .label-txt {
      color: $cyan;
    }

    .cal-icon {
      svg {
        path {
          fill: $cyan;
        }
      }
    }
  }

  .calendar {
    border-color: $cyan;

    &:after {
      border-top-color: $cyan;
      border-left-color: $cyan;
    }

    .calendar-container {
      .days {
        .day {
          &.is-within-range {
            background: lighten($cyan, 20);
          }

          .day-num {
            &:hover, &.is-active {
              background: $cyan;
            }
          }
        }
      }
    }

    .side-container {
      .side-container-buttons {
        .side-button {
          border-color: $cyan;

          &:hover, &.is-active {
            background: $cyan;
          }
        }
      }
    }
  }
}

.theme-grape ng-daterangepicker::ng-deep {
  &.is-active {
    border-color: $grape;
  }

  .input-section {
    .label-txt {
      color: $grape;
    }

    .cal-icon {
      svg {
        path {
          fill: $grape;
        }
      }
    }
  }

  .calendar {
    border-color: $grape;

    &:after {
      border-top-color: $grape;
      border-left-color: $grape;
    }

    .calendar-container {
      .days {
        .day {
          &.is-within-range {
            background: lighten($grape, 20);
          }

          .day-num {
            &:hover, &.is-active {
              background: $grape;
            }
          }
        }
      }
    }

    .side-container {
      .side-container-buttons {
        .side-button {
          border-color: $grape;

          &:hover, &.is-active {
            background: $grape;
          }
        }
      }
    }
  }
}

.theme-red ng-daterangepicker::ng-deep {
  &.is-active {
    border-color: $red;
  }

  .input-section {
    .label-txt {
      color: $red;
    }

    .cal-icon {
      svg {
        path {
          fill: $red;
        }
      }
    }
  }

  .calendar {
    border-color: $red;

    &:after {
      border-top-color: $red;
      border-left-color: $red;
    }

    .calendar-container {
      .days {
        .day {
          &.is-within-range {
            background: lighten($red, 20);
          }

          .day-num {
            &:hover, &.is-active {
              background: $red;
            }
          }
        }
      }
    }

    .side-container {
      .side-container-buttons {
        .side-button {
          border-color: $red;

          &:hover, &.is-active {
            background: $red;
          }
        }
      }
    }
  }
}

.theme-gray ng-daterangepicker::ng-deep {
  &.is-active {
    border-color: $gray;
  }

  .input-section {
    .label-txt {
      color: $gray;
    }

    .cal-icon {
      svg {
        path {
          fill: $gray;
        }
      }
    }
  }

  .calendar {
    border-color: $gray;

    &:after {
      border-top-color: $gray;
      border-left-color: $gray;
    }

    .calendar-container {
      .days {
        .day {
          &.is-within-range {
            background: lighten($gray, 20);
          }

          .day-num {
            &:hover, &.is-active {
              background: $gray;
            }
          }
        }
      }
    }

    .side-container {
      .side-container-buttons {
        .side-button {
          border-color: $gray;

          &:hover, &.is-active {
            background: $gray;
          }
        }
      }
    }
  }
}

